[Unit]
Description=Set all CPUs epp
# Run this after the scaling-governor service executes
After=scaling-governor.service
Wants=scaling-governor.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-epp.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
