[Unit]
Description=Set all CPUs scaling governor
# run this after the CPU drivers are loaded
After=systemd-modules-load.service
Wants=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-scaling-governor.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
